DATABASE_URL="postgresql://postgres:postgres@localhost:5433/padelhive?schema=public"

PORT=3001

FIREBASE_PROJECT_ID="padelhive"
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_SERVER_KEY=""
